In [1]:
import pandas as pd
df=pd.read_csv('animal_characteristics.csv')
df

             Name Blood Type Give Birth Can Fly Live in Water
0           human       warm        yes      no            no
1          python       cold         no      no            no
2          salmon       cold         no      no           yes
3           whale       warm        yes      no           yes
4            frog       cold         no      no     sometimes
5          komodo       cold         no      no            no
6             bat       warm        yes     yes            no
7          pigeon       warm         no     yes            no
8             cat       warm        yes      no            no
9   leopard shark       cold        yes      no           yes
10         turtle       cold         no      no     sometimes
11        penguin       warm         no      no     sometimes
12      porcupine       warm        yes      no            no
13            eel       cold         no      no           yes
14     salamander       cold         no      no     sometimes
15   gila monster       cold         no      no            no
16       platypus       warm         no      no            no
17            owl       warm         no     yes            no
18        dolphin       warm        yes      no           yes
19          eagle       warm         no     yes            no

In [2]:
print(df.shape)

(20, 5)

In [4]:
for col in df.columns:
    print(df[col].value_counts())

Name
human            1
python           1
salmon           1
whale            1
frog             1
komodo           1
bat              1
pigeon           1
cat              1
leopard shark    1
turtle           1
penguin          1
porcupine        1
eel              1
salamander       1
gila monster     1
platypus         1
owl              1
dolphin          1
eagle            1
Name: count, dtype: int64
Blood Type
warm    11
cold     9
Name: count, dtype: int64
Give Birth
no     13
yes     7
Name: count, dtype: int64
Can Fly
no     16
yes     4
Name: count, dtype: int64
Live in Water
no           11
yes           5
sometimes     4
Name: count, dtype: int64

In [5]:
def classifier(df):
    if df['Give Birth']=='no' and df['Can Fly']=='yes':
        return "Birds"
    elif df['Give Birth']=="no" and df['Live in Water']=='yes':
        return "Fishes"
    elif df['Give Birth']=='yes' and df['Blood Type']=='warm':
        return 'Mammals'
    elif df['Give Birth']=='no' and df['Can Fly']=='no':
        return "Reptiles"
    elif df['Live in Water']=='sometimes':
        return 'Amphibians'
    else:
        return 'Unknown'

In [6]:
df['Class']=df.apply(classifier,axis=1)
df

             Name Blood Type Give Birth Can Fly Live in Water     Class
0           human       warm        yes      no            no   Mammals
1          python       cold         no      no            no  Reptiles
2          salmon       cold         no      no           yes    Fishes
3           whale       warm        yes      no           yes   Mammals
4            frog       cold         no      no     sometimes  Reptiles
5          komodo       cold         no      no            no  Reptiles
6             bat       warm        yes     yes            no   Mammals
7          pigeon       warm         no     yes            no     Birds
8             cat       warm        yes      no            no   Mammals
9   leopard shark       cold        yes      no           yes   Unknown
10         turtle       cold         no      no     sometimes  Reptiles
11        penguin       warm         no      no     sometimes  Reptiles
12      porcupine       warm        yes      no            no   Mammals
13            eel       cold         no      no           yes    Fishes
14     salamander       cold         no      no     sometimes  Reptiles
15   gila monster       cold         no      no            no  Reptiles
16       platypus       warm         no      no            no  Reptiles
17            owl       warm         no     yes            no     Birds
18        dolphin       warm        yes      no           yes   Mammals
19          eagle       warm         no     yes            no     Birds